<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Student toevoegen</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>

  <h2>Op naam van student zoeken</h2>

  <form action='/search_name' method='POST'>
    Naam <input type='text' name='naam'><br />
    <button type='submit'>zoek</button>
  </form>

  <br />
  <br />
  <br />

</body>
</html>