<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Pokemon</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h2>All Aanvragen</h2>
  <ul class='list'>
  <% for(var i=0; i < list.length; i++) {%>
    <li class='examen'>
      <span><%= list[i].examen %></span><br/>
      <span><%= list[i].reden %></span><br/>
      <span><%= list[i].datum %></span><br/>
      </li>
  <% } %>
  </ul>

</body>
</html>