<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Student toevoegen</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>

  <h2>Nieuwe student toevoegen</h2>

  <form action='/submit' method='POST'>
    Naam <input type='text' name='naam'><br />
    Examen <input type='text' name='examen'><br />
    Reden <input type='text' name='reden'><br />
    <button type='submit'>voeg toe</button>
  </form>

  <br />
  <br />
  <br />

</body>
</html>